*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

#form-main-wrapper{
    width:100%;
    height:100vh;
    background:rgb(118, 86, 150);
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-container{
    width:450px;
    padding:20px 15px;
}


.admin-avtar{
    text-align:center;    
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.admin-avtar h1 {
    font-size: 28px;
    font-weight: 400;
    margin-left: 15px;
    color:#fff;
}

.signin-status{
    width:100%;
    background-color:orange;
    padding:15px 10px;
    border-radius:3px;
    margin-bottom:25px;
}

.form-con label{
    display:block;
    font-weight:500;
    margin-bottom:5px;
}

.form-con input {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 400;
    outline:none;
    /* border:1px solid #fff;
    background-color:#fff; */
}

label[for="rem-me"] {
    margin-bottom: 0px;
}

.field-con {
    margin-bottom: 20px;
}

.field-con:last-child {
    margin-bottom: 0px;
}

.flex{
    display:flex;
}

.form-btn-con input{
    display:inline-block;
    width:unset;
}

.remember-me{
    display:block;
    width:100%;
    display:flex;
    align-items:center;
    
}

.form-btn-con input[type=checkbox]{
    margin-right:10px;
}

.add-links{
    margin-top:50px;
}

.add-links a{
    display:block;
    margin:10px 0;
    font-size:14px;
    color:#fff;
}

.form{
    background:#fff;
    padding:40px 30px;
    box-shadow: 0px 16px 40px rgba(0, 0, 0,0.25);
}

.d-none{
    display:none;
}

.form-submit {
    background-color: rgb(118, 86, 150);
    border: none;
    color: #fff;
    padding: 8px 30px !important;
    border:2px solid transparent;
    font-weight:500 !important;
    transition: 300ms ease-in-out;
    cursor:pointer;
}

.form-submit:hover{
    background-color:#fff;
    border:2px solid rgb(118, 86, 150);
    color:rgb(118, 86, 150);
}

@media screen and (max-width:576px){
    .flex.form-btn-con {
    flex-direction: column;
    }

    .sub-btn-wrap {
        text-align: center;
        margin-top: 25px;
    }

    .form {
        padding: 40px 20px;
    }

    .admin-avtar h1 {
        font-size: 25px;
    }
}