@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato');

html, body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  cursor: default;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
  
.col-md-6 {
  flex-basis: 50%;
}

.main {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.main h1 {
    color: #f65a5b;
    font-size: 64px;
    line-height: 90px;
    width: 70%;
    margin: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  
.main h2 {
    color: #39d1b4;
    font-size: 20px;
    margin: 1 0 40px 0;
    padding: 0px 0;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    border: 0px;
    position: relative;
    padding: 50px;
    margin-bottom: 2rem;
    border-radius: 1em;
    box-shadow: 0px 5px 10px black;
    background: #092756;
	  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
  
.thumbnail img {
    margin-bottom: 30px;
    max-width: 80%;
    height: 300px;
    width: 200px;
}
  
.title {
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}
  
.date {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}
  
.price {
    background-color: #39d1b4;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -0px;
    right: 20px;
    margin-top: 1em;
}
  
.rating {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 30px 0 -30px 20px;
}

.likes,
  .dislikes {
    background: #f65a5b;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: background 500ms;
}
  
.likes:hover,
  .dislikes:hover {
    color: #f65a5b;
    background: rgba(246, 90, 91, 0.25);
    transition: background 500ms;
}

.grow {
    transition: all .5s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.text h1 {
    font-size: 4rem;
    font-family:var(--mainfont);
    color:white;
    margin:3% 0% 3% 0%;
}