@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: ease 0.5s;
	text-decoration: none;
	color: white;
	list-style-type: none;
}

body {
	background: #3a4d7c;
}

h3 {
	font-family: sans-serif;
	font-weight: bold;
}
  
footer {
	background: rgb(53,37,69);
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 15px;
	box-shadow: #2f4374 0 10px 20px 5px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
  
i {
	margin-right: 10px;
}

.nav {
	width: 100%;
}

.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: rgb(53,37,69);
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,1);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: rgb(53,37,69);
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(53,37,69);
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
	border:none;
}
  
.btn-primary {
    color: #fff;
    background: rgb(53,37,69);
	box-shadow: 1px 5px 15px black;
}
  
.btn-primary:hover {
    background: rgb(91,51,80);
    transition: background 0.3s ease-in-out;
}

.showcase-area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336)
      ),
      url("../image/book.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}
  
.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:#fdf5e6;
	font-size: 36px;
	font-weight: bold;
}

.second-title {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:#fdf5e6;
}

.main {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.heading {
  margin-bottom: 15px;
}

.col1 {
  flex: 1;
  min-width: 200px;
}

.col2 {
  flex: 2;
  min-width: 300px;
}

.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
  color: white;
}

.col1 a:hover {
  color: #6b6ba0;
}

.col2 .languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}

.col2 a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  color: white;
}

.col2 a:hover {
  background: #6b6ba0;
}

.social {
  display: flex;
  gap: 20px;
}

.col3 ion-icon {
  font-size: 30px;
}

.social a:hover ion-icon {
  color: #6b6ba0;
}

.terms {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.terms a {
  color: #7783a0;
}

#about {
	padding: 50px 0;
	background: #f5f5f7;
}
  
.about-wrapper {
	display: flex;
	flex-wrap: wrap;
}
  
#about h2 {
	font-size: 2.3rem;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
  
#about p {
	font-size: 1.2rem;
	color: black;
}
  
#about .small {
	font-size: 1.2rem;
	color: #666;
	font-weight: 600;
}
  
.about-img {
	flex: 1 1 400px;
	padding: 30px;
	transform: translateX(150%);
	animation: about-img-animation 1s ease-in-out forwards;
}
  
@keyframes about-img-animation {
	100% {
	  transform: translate(0);
	}
}

.about-text {
	flex: 1 1 400px;
	padding: 30px;
	margin: auto;
	transform: translate(-150%);
	animation: about-text-animation 1s ease-in-out forwards;
}
  
@keyframes about-text-animation {
	100% {
	  transform: translate(0);
	}
}

.about-img img {
	display: block;
	height: 400px;
	max-width: 100%;
	margin: auto;
	object-fit: cover;
	object-position: right;
	border-radius: 10%;
}

#container {
	background: #f5f5f7;
}

.mb-3, .text-justify {
	color:black;
}

.row {
	padding-left: 25em;
	width: auto;
}